<!DOCTYPE html>
<html>

    <head>

        <title>OgarConsole</title>

        <script src="/socket.io/socket.io.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

        <style>
        @import url(https://fonts.googleapis.com/css?family=Exo);#cmd,form>.submit{position:relative;background-color:#000}#cmd,form>.submit,form>textarea{background-color:#000}body,form{margin:0}form,hr{border:0}body{overflow:hidden}form>textarea{height:500px;width:100%;color:green;margin:0;text-align:left;font-family:Exo,sans-serif;font-size:15px}form>.input,form>.input:focus{width:100%;color:green;margin:-10 0 0;border:0;outline:0}form>.submit{top:-22px;color:#fff;border:1px solid #fff;border-radius:5px}hr{height:12px;width:80%;box-shadow:inset 0 12px 12px -12px rgba(0,0,0,.5)}a{text-decoration:none;color:orange}.center{margin:0 auto;text-align:center}.help{display:none}#cmd{top:-25px;border:none;left:1px}
        </style>

    </head>
    <body>

        <div id="CMD">
            <form>
                <textarea class="console" name="console" readonly>Type 'help' for commands</textarea><br>
                <input class="input" id="cmd" name="input" placeholder="&gt; Enter command here" type="text"><br>
                <input class="submit" style="width: 100%;" type="submit" value="Execute Command">
            </form><br>
        </div>
        <div id="copyright">
            <div class="center">
                <hr>
                <i>Created by <a href="/">LegitSoulja</a><br>
                Sponser <a href="http://agariohub.tk">AgarioHub</a><br>
                <a href="https://github.com/LegitSoulja/OgarConsole">GitHub</a></i>
                <hr>
            </div>
        </div>

        <script>
        
            $(document).ready(function() {
        
                $(".input").focus();
                var socket = io.connect();
                var output = $("textarea");
                var input = $(".input");
            
                socket.on("disconnect", function(err) {
                    output.append("\n" + "Console Disconnected.");
                });
            
                socket.on("connect", function(err) {
                    output.append("\n" + "Console Connected.");
                });
                                
                $("form").submit(function(e) {
                
                    e.preventDefault();
                    if (input.val() == "clr" || input.val() == "clear") {
                        socket.emit("commandex", input.val());
                        input.val('');
                        output.empty();
                        return;
                    }
                    socket.emit("commandex", input.val());
                    input.val('');
                    socket.on('input', function(data) {
                        output.empty();
                        output.append("\n" + data);
                        $('textarea').scrollTop($('textarea')[0].scrollHeight);
                    });
                });
            
            });
        
        </script>

    </body>

</html>
